<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<h1>Coronavirus Tracker Application</h1>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalCases}"></h1>
    <p class="lead">Total cases reported as of today</p>
    <hr class="my-4">
    <p>
        <span>Total diff for today:</span>
        <span th:text="${diffFromPrevDay}"></span>
    </p>

</div>

<div class = "container">
<table class="table table-bordered">
    <tr>
        <th>Country</th>
        <th>Total cases reported</th>
        <th>Total diff for today</th>
        <th>Cases for each state (if country has states)</th>
    </tr>

    <tr th:each="country : ${countries}">

        <td th:text="${country.getCountryName()}"></td>
        <td th:text="${country.getStats()}"></td>
        <td th:text="${country.getPrevStats()}"></td>
        <td>
        <table class="table table-sm">
            <tr>
                <th>State</th>
                <th>Total diff for today</th>
                <th>Total cases</th>
            </tr>
            <tr th:each="state : ${country.getStates()}">
                <td th:text="${state.getName()}"></td>
                <td th:text="${state.getPrevStat()}"></td>
                <td th:text="${state.getStat()}">0</td>
        </table>
        </td>
    </tr>
</table>
</div>
</body>

</html>